:root{
    /* colores */
    --color-text: #fff;
    --color-primary: #98173d;
    --color-secundary: #25232d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fuente */
    --font-robot: "Roboto";


}